.underline {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff8dc;
  height: 1px;
  transition-property: left, right;
  transition-duration: 250ms;
  transition-timing-function: ease-out; }

.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #141516; }

ol {
  padding-left: 1rem; }

h1 {
  color: #fff8dc;
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem; }

h3 {
  color: #fff8dc;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  text-align: center; }

.nav-logo {
  max-width: 50%;
  height: auto; }

.nav-style {
  background-color: #fff8dc; }

.nav-style a {
  color: #141516;
  text-decoration: none; }

.nav-btn {
  background-color: transparent;
  color: #141516;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.nav-btn:focus {
  outline: 0; }

.nav-drop-btn {
  background-color: transparent;
  color: #141516;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.nav-drop-btn:focus {
  outline: 0; }

.banner {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.5)), url("../imgs/peekles.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section {
  height: auto; }

.header {
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  color: #f7df1e; }

.subheader {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: #f7df1e; }

.content {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #fff8dc; }

.content-inverse {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #141516; }

.content-inverse a {
  color: #03b8ff;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  text-decoration: none; }

.content-inverse a:hover {
  font-weight: 700;
  color: #141516; }

.default-btn {
  background: transparent;
  border: none;
  color: #fff8dc;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: linear; }

.default-btn:hover {
  color: #f7df1e; }

.default-btn:focus {
  outline: 0; }

.intro {
  font-family: "Raleway", sans-serif;
  font-size: 3.125rem;
  color: #fff8dc; }

.subintro {
  font-family: "Raleway", sans-serif;
  font-size: 1.875rem;
  color: #fff8dc; }

.icons, .contact-icons {
  color: #f7df1e;
  font-size: 2.5rem; }

.project-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }

.project-btn:focus {
  outline: 0; }

.project-bg {
  height: auto;
  background-color: transparent;
  padding: 0.75rem;
  opacity: 0.80;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.project-bg:hover {
  opacity: 1; }

.project-name {
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  color: #fff8dc;
  border-top: 1px solid #03b8ff;
  border-bottom: 1px solid #03b8ff;
  padding: 0.25rem; }

.contact-icons {
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.contact-icons:hover {
  color: #03b8ff; }

.default-border {
  display: block;
  border: 1px solid #03b8ff; }

.valid-border {
  display: block;
  border: 1px solid #03b8ff; }

.invalid-info, .invalid-name, .invalid-email, .invalid-number, .invalid-message {
  display: none;
  margin-top: .25rem;
  font-size: .7rem;
  color: #f7df1e; }

.invalid-border {
  display: block;
  border: 1px solid #f7df1e; }

.contact-submit-button {
  border: none;
  background-color: #03b8ff;
  color: #fff8dc;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.contact-submit-button:hover {
  background-color: #fff8dc;
  color: #03b8ff; }

.modal-close-button {
  border: none;
  background-color: #fff8dc;
  color: #141516;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.modal-close-button:hover {
  color: #03b8ff; }

.copyright {
  font-family: "Raleway", sans-serif;
  font-size: 0.625rem;
  color: #fff8dc; }

.mobile-home-icons {
  font-size: 40px;
  color: #f7df1e; }

.mobile-home-content {
  font-size: 1rem;
  color: #fff8dc; }

.navbar-toggler {
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1;
  background: 0 0;
  border: none;
  border-radius: 0;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem; }

.navbar-toggler-icon {
  color: #fff8dc;
  height: 1.0em;
  margin-right: 1rem; }

.form-control {
  background-color: #fff8dc;
  color: #141516; }

.dropdown-menu {
  font-family: "Raleway", sans-serif;
  background-color: transparent;
  color: #fff8dc;
  min-width: 11rem; }

.sidebar-left, .sidebar-center, .sidebar-right {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: #fff8dc; }

/*# sourceMappingURL=style.css.map */
