/*#ff033a*/
.underline {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fff8dc;
  height: 1px;
  transition-property: left, right;
  transition-duration: 250ms;
  transition-timing-function: ease-out; }

.underline:hover:before, .underline:focus:before, .underline:active:before {
  left: 0;
  right: 0; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff8dc; }

ol {
  padding-left: 1rem; }

.nav-logo {
  max-width: 50%;
  height: auto; }

.nav-style {
  background-color: transparent; }

.nav-style a {
  color: #fff8dc;
  text-decoration: none; }

.nav-btn {
  background-color: transparent;
  color: #fff8dc;
  border: none;
  cursor: pointer;
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.2rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.nav-btn:focus {
  outline: 0; }

.nav-drop-btn {
  background-color: transparent;
  color: #fff8dc;
  border: none;
  cursor: pointer;
  font-family: "Antic", sans-serif;
  font-size: 1rem;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out; }

.nav-drop-btn:focus {
  outline: 0; }

.landing {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.5)), url("../imgs/landing.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.section {
  height: auto; }

.header {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.875rem;
  color: #ff033a; }

.subheader {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.25rem;
  color: #ff033a; }

.content {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1rem;
  color: #fff8dc; }

.default-btn {
  background: transparent;
  border: none;
  color: #fff8dc;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: linear; }

.default-btn:hover {
  color: #ff033a; }

.default-btn:focus {
  outline: 0; }

.intro {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3.125rem;
  color: #fff8dc; }

.subintro {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.875rem;
  color: #fff8dc; }

.icons {
  color: #ff033a;
  font-size: 2.5rem; }

.copyright {
  font-family: "Julius Sans One", sans-serif;
  font-size: 0.625rem;
  color: #fff8dc; }

.mobile-home-icons {
  font-size: 40px;
  color: #ff033a; }

.mobile-home-content {
  font-size: 1rem;
  color: #fff8dc; }

.navbar-toggler {
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1;
  background: 0 0;
  border: none;
  border-radius: 0;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem; }

.navbar-toggler-icon {
  color: #fff8dc;
  height: 1.0em;
  margin-right: 1rem; }

.form-control {
  background-color: #fff8dc;
  color: #141516; }

.dropdown-menu {
  font-family: "Julius Sans One", sans-serif;
  background-color: transparent;
  color: #fff8dc;
  min-width: 11rem; }

/*# sourceMappingURL=style.css.map */
