// Partial for site fonts

$nav-font: 'Raleway', sans-serif;
$nav-font-size: 1.2rem;

$nav-drop-font: 'Raleway', sans-serif;
$nav-drop-font-size: 1rem;

$intro-font: 'Raleway', sans-serif;
$intro-font-size: 3.125rem;

$subintro-font:  'Raleway', sans-serif;
$subintro-font-size: 1.875rem;

$header-font: 'Raleway', sans-serif;
$header-font-size: 1.875rem;

$subheader-font: 'Raleway', sans-serif;
$subheader-font-size: 1.25rem;

$content-font: 'Raleway', sans-serif;
$content-font-size: 1rem;

$project-font: 'Raleway', sans-serif;
$project-font-size: 0.75rem;

$copyright-font: 'Raleway', sans-serif;
$copyright-font-size: 0.625rem;
