// ##### IMPORT PARTIALS START #####

@import 'colors';
@import 'fonts';
@import 'mixins';

// ##### IMPORT PARTIALS END #####

// ##### VARIABLES START #####

    // Site wide variables start
    
    $home-time: 200ms;
    $hover-time: 250ms;
    $icons-size: 2.5rem;

    // Site wide variables end

    // Mobile variables start

    $mobile-icon-size: 40px;

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Site wide mixins start

    @include underline; // Include mixin for underline animation for nav bar

    // Site wide mixins end

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: $primary-color
    }

    ol {
        padding-left: 1rem;
    }

    .nav-logo {
        max-width: 50%;
        height: auto;
    }

    .nav-style {
        background-color: transparent;
    }

    .nav-style a {
        color: $content-color;
        text-decoration: none;
    }

    .nav-btn {
        background-color: transparent;
        color: $content-color;
        border: none;
        cursor: pointer;
        font-family: $nav-font;
        font-size: $nav-font-size;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .nav-btn:focus {
        outline: 0;
    }

    .nav-drop-btn {
        background-color: transparent;
        color: $content-color;
        border: none;
        cursor: pointer;
        font-family: $nav-drop-font;
        font-size: $nav-drop-font-size;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .nav-drop-btn:focus {
        outline:0;
    }

    .landing {
        background-image: linear-gradient(rgba(0,0,0,1), rgba(0, 0, 0, 0.5)), url("../imgs/landing.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section {
        height: auto;
    }

    .header {
        font-family: $header-font;
        font-size: $header-font-size;
        color: $accent-color;
    }

    .subheader {
        font-family: $subheader-font;
        font-size: $subheader-font-size;
        color: $accent-color;
    }

    .content {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $content-color;
    }



    .default-btn {
        background: transparent;
        border: none;
        color: $content-color;
        cursor: pointer;
        transition-duration: $hover-time;
        transition-timing-function: linear;
    }

    .default-btn:hover {
        color: $accent-color;
    }

    .default-btn:focus {
        outline: 0;
    }

    .intro {
        font-family: $intro-font;
        font-size: $intro-font-size;
        color: $content-color;
    }

    .subintro {
        font-family: $subintro-font;
        font-size: $subintro-font-size;
        color: $content-color;
    }

    .icons {
        color: $accent-color;
        font-size: $icons-size;
    }

    .copyright {
        font-family: $copyright-font;
        font-size: $copyright-font-size;
        color: $content-color;
    }
    
    // Mobile only

    .mobile-home-icons {
        font-size: $mobile-icon-size;
        color: $accent-color;
    }

    .mobile-home-content {
        font-size: $content-font-size;
        color: $content-color;
    }
    
    // Desktop only

    // Bootstrap modifications

    .navbar-toggler {
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1;
        background: 0 0;
        border: none;
        border-radius: 0;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .navbar-toggler-icon {
        color: $content-color;
        height: 1.0em;
        margin-right: 1rem;
    }

    .form-control {
        background-color: $primary-color;
        color: $content-color;
    }

    .dropdown-menu {
        font-family: $nav-font;
        background-color: transparent;
        color: $content-color;
        min-width: 11rem;   
    }

// #####  IDS AND CLASSES END #####