// ##### IMPORT PARTIALS START #####

@import 'colors';
@import 'fonts';
@import 'mixins';

// ##### IMPORT PARTIALS END #####

// ##### VARIABLES START #####

    // Site wide variables start
    
    $home-time: 200ms;
    $hover-time: 250ms;
    $icons-size: 2.5rem;

    // Site wide variables end

    // Mobile variables start

    $mobile-icon-size: 40px;

    // Mobile variables end

    // Desktop variables start

    // Desktop variables end


// ##### VARIABLES END #####

// ##### MIXINS START #####

    // Site wide mixins start

    @include underline; // Include mixin for underline animation for nav bar

    // Site wide mixins end

    // Mobile mixins start

    // Mobile mixins end

    // Desktop mixins start

    // Desktop mixins end

// ##### MIXINS END #####

// #####  IDS AND CLASSES START #####

    // Sitewide

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: $black;
    }

    ol {
        padding-left: 1rem;
    }

    h1 {
        color: $white;
        font-family: $header-font;
        font-size: $header-font-size;
    }

    h3 {
        color: $white;
        font-family: $subheader-font;
        font-size: $subheader-font-size;
        text-align: center;
    }

    .nav-logo {
        max-width: 50%;
        height: auto;
    }

    .nav-style {
        background-color: $white;
    }

    .nav-style a {
        color: $black;
        text-decoration: none;
    }

    .nav-btn {
        background-color: transparent;
        color: $black;
        border: none;
        cursor: pointer;
        font-family: $nav-font;
        font-size: $nav-font-size;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .nav-btn:focus {
        outline: 0;
    }

    .nav-drop-btn {
        background-color: transparent;
        color: $black;
        border: none;
        cursor: pointer;
        font-family: $nav-drop-font;
        font-size: $nav-drop-font-size;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .nav-drop-btn:focus {
        outline:0;
    }

    .banner {
        background-image: linear-gradient(rgba(0,0,0,1), rgba(0, 0, 0, 0.5)), url("../imgs/peekles.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section {
        height: auto;
    }

    .header {
        font-family: $header-font;
        font-size: $header-font-size;
        color: $yellow;
    }

    .subheader {
        font-family: $subheader-font;
        font-size: $subheader-font-size;
        color: $yellow;
    }

    .content {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $white;
    }

    .content-inverse {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $black;
    }

    .content-inverse a {
        color: $blue;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
        text-decoration: none;
    }

    .content-inverse a:hover {
        font-weight: 700;
        color: $black;
    }

    .default-btn {
        background: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        transition-duration: $hover-time;
        transition-timing-function: linear;
    }

    .default-btn:hover {
        color: $yellow;
    }

    .default-btn:focus {
        outline: 0;
    }

    .intro {
        font-family: $intro-font;
        font-size: $intro-font-size;
        color: $white;
    }

    .subintro {
        font-family: $subintro-font;
        font-size: $subintro-font-size;
        color: $white;
    }

    .icons {
        color: $yellow;
        font-size: $icons-size;
    }

    .project-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .project-btn:focus {
        outline: 0;
    }

     .project-bg {
        height: auto;
        background-color: transparent;
        padding: 0.75rem;
        opacity: 0.80;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
     }

     .project-bg:hover {
        opacity: 1;
     }

     .project-name {
        font-family: $project-font;
        font-size: $project-font-size;
        color: $white;
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        padding: 0.25rem;
     }

    .contact-icons {
        @extend .icons;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .contact-icons:hover {
        color: $blue;
    }

    .default-border {
        display: block;
        border: 1px solid $blue;
    }
          
    .valid-border {
        display: block;
        border: 1px solid $blue; 
    }
    
    .invalid-info, .invalid-name, .invalid-email, .invalid-number, .invalid-message {
        display: none;
        margin-top: .25rem;
        font-size: .7rem;
        color: $yellow;
    }

    .invalid-border {
        display: block;
        border: 1px solid $yellow; 
    }

    .contact-submit-button {
        border: none;
        background-color: $blue;
        color: $white;
        border-radius: 0.25rem;
        cursor: pointer;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .contact-submit-button:hover {
        background-color: $white;
        color: $blue;
    }

    .modal-close-button {
        border: none;
        background-color: $white;
        color: $black;
        border-radius: 0.25rem;
        cursor: pointer;
        transition-duration: $hover-time;
        transition-timing-function: ease-in-out;
    }

    .modal-close-button:hover {
        color: $blue;
    }
    
    .copyright {
        font-family: $copyright-font;
        font-size: $copyright-font-size;
        color: $white;
    }
    
    // Mobile only

    .mobile-home-icons {
        font-size: $mobile-icon-size;
        color: $yellow;
    }

    .mobile-home-content {
        font-size: $content-font-size;
        color: $white;
    }
    
    // Desktop only

    // Bootstrap modifications

    .navbar-toggler {
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1;
        background: 0 0;
        border: none;
        border-radius: 0;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }

    .navbar-toggler-icon {
        color: $white;
        height: 1.0em;
        margin-right: 1rem;
    }

    .form-control {
        background-color: $white;
        color: $black;
    }

    .dropdown-menu {
        font-family: $nav-font;
        background-color: transparent;
        color: $white;
        min-width: 11rem;   
    }

    // Wordpress customizations

    .sidebar-left, .sidebar-center, .sidebar-right {
        font-family: $content-font;
        font-size: $content-font-size;
        color: $white;
    }

// #####  IDS AND CLASSES END #####